<div class="">
  <div class="flex justify-center items-center h-screen">
    <div class="flex items-center">
      <div class="flex flex-col items-center mx-4 sm:mx-32">
        <p class="text-4xl font-bold text-center">
          本探しや読書の場所にお困りですか？
        </p>
        <p class="text-2xl mt-4 text-center">
          好みのカフェで、素敵な本と出会いましょう
        </p>        
        <div class="mt-10 flex flex-col sm:flex-row">
          <%= link_to t('links.find_by_map'), '#', class: 'bg-gray-300 w-full sm:w-40 h-10 rounded-lg mb-4 sm:mb-0 sm:mr-10 text-sm flex items-center justify-center px-5 hover:bg-gray-400 active:bg-gray-500' %>
          <%= link_to t('links.register_page'), new_user_path, class: 'bg-gray-300 w-full sm:w-40 h-10 rounded-lg mb-4 sm:mb-0 text-sm flex items-center justify-center px-5 hover:bg-gray-400 active:bg-gray-500' %>
        </div>        
      </div>
    </div>
  </div>
</div>

